OPENAI_API_KEY=your_openai_api_key_here
GMAIL_CLIENT_ID=your_gmail_client_id_here
GMAIL_CLIENT_SECRET=your_gmail_client_secret_here
OUTLOOK_CLIENT_ID=your_outlook_client_id_here


SECRET_KEY=your_secret_key_for_jwt_tokens
